*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header section */
.banner{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    height: 80vh;
    text-align: right;
    padding: 100px 150px 64px 845px;
}
.title{
    color: #151414;
    font-weight: 900;
    font-size: 45px;
    text-align: right;
    margin-bottom: 24px;
    padding-top: 50px;
   
}
.desc{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
}
.btn{
    width: 160px;
    height: 64px;
    padding: 21px 26px;
    font-size: 18px;
    margin-top: 50px;
    /* margin-left: 550px; */
    border-radius: 10px;
    background: #F15B22;
    color: white;
    border: none;
}
/* first part of section */
.container1{
    margin-top: 80px;
    background-image: url(../images/person.png);
    background-color: #fffaf4;
    background-position: left;
    background-repeat: no-repeat;
    width: 360px;
    height: 723.3px;
    padding: 216px 230px 64px 700px;
    text-align: left;
    width: auto;

}
.content{
    text-align: left;
    padding-top: 70px;
    margin-left: 80px;
    width: 416px;
    align-items: left;
}
.sec-title1{
    color: #151414;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 24px;
    padding-top: 50px;
 
}
.sec-desc1{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
  
}
.content li{
    list-style: none;
    color: #444343;
    
}
ul{
    padding-left: 0px;
}
i{
    margin-right: 20px;
    color: #16D887;
}

/* my plan section */

.plan-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-title2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.container2{
    padding-left: 230px;
    padding-right: 230px;
}
.plan{
    padding: 26px;
    text-align: center;
   
}
.plan-desc{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    margin-bottom: 80px;
   
}
.plan-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
   
    
}
.plan-img{
    padding: 26px 20px;
}

/* gradient image section */

.wrapper{
    background-image:url('../images/watch.png');
    width: 150vh;
    height: 80vh;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 0px;
    position: relative;
    /* background-image: linear-gradient(to right,rgba(212, 131, 135, 0.438),rgba(214, 89, 31, 0.315)); */
}
.grad-header{
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 520px;
    padding-bottom: 120px;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    background-image: linear-gradient(to right,rgba(255, 0, 13, 0.438),rgba(230, 162, 131, 0.315));

}
.btn-2{
    position: absolute;
    color: #F15B22;
    margin-left: 50px;
    margin-top: 230px;
    background: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 64px;
}

/* about my city section */

.my-section{
    margin-top: 50px;

}
.city-title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.city{
    
    display: flex;
    gap: 100px;
}
.about-city{
    padding-left: 150px;
}
.city-img img{
    width: 500px;
    padding-right: 150px;
}
.my-city-header{
   
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    color: #F15B22;
}
.my-city-desc{
    font-weight: 400;
    font-size: 15px;
    color: #757575;
    text-align: justify;
}

/* footer section */

footer{
    background: black;
    margin-top: 40px;
}
.foo{
    display: flex;
    gap: 50px;
    
}
.subscribe-title{
    font-weight: 700;
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
    margin-top: 110px;
}
.contact-title{
    margin-top: 110px;
    margin-bottom: 10px;
    padding-left: 80px;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.field{
    color: #FFFFFF;
    background: black;
    border-radius: 5px;
    border: 1px solid white;
    width: 261px;
    height: 44px;
    
}
.left{
    align-items: center;
    text-align: left;
    padding-left: 80px;
    border: #FFFFFF;
}
.right{
    margin-left: 350px;
    padding-right: 100px;
    border: #FFFFFF;
}
.social-icons{
    padding-left: 80px;
    margin-bottom: 30px;
}
.left-desc{
    color: white;
}
.sub-btn{
    color: #F15B22;
    margin-top: 20px;
    background: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 64px;
}