*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    height: 80vh;
    text-align: right;
    padding: 100px 150px 64px 845px;
}
.title{
    color: #151414;
    font-weight: 900;
    font-size: 45px;
    text-align: right;
    margin-bottom: 24px;
    padding-top: 50px;
   
}
.desc{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
}
.btn{
    width: 160px;
    height: 64px;
    padding: 21px 26px;
    font-size: 18px;
    margin-top: 50px;
    /* margin-left: 550px; */
    border-radius: 10px;
    background: #F15B22;
    color: white;
    border: none;
}
.container1{
    margin-top: 80px;
    background-image: url(../images/person.png);
    background-color: #fffaf4;
    background-position: left;
    background-repeat: no-repeat;
    width: 360px;
    height: 723.3px;
    padding: 216px 230px 64px 700px;
    text-align: left;
    width: auto;

}
.content{
    text-align: left;
    padding-top: 70px;
    margin-left: 80px;
    width: 416px;
    align-items: left;
}
.sec-title1{
    color: #151414;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 24px;
    padding-top: 50px;
 
}
.sec-desc1{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
  
}
.content li{
    list-style: none;
    color: #444343;
    
}
ul{
    padding-left: 0px;
}
i{
    margin-right: 20px;
    color: #16D887;
}

.plan-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-title2{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.container2{
    padding-left: 230px;
    padding-right: 230px;
}
.plan{
    padding: 26px;
    text-align: center;
   
}
.plan-desc{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    margin-bottom: 80px;
   
}
.plan-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
   
    
}
.plan-img{
    padding: 26px 20px;
}
